<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="xyz.dev_juyoung.cropicker">

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true">

        <!-- android:theme="@style/AppTheme" -->

        <activity
            android:name=".activities.DirectoryActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.MediaActivity"
            android:screenOrientation="portrait" />
    </application>

</manifest>